 {
  font-weight: 700;
  margin-bottom: 48px;
 }
.root {
  --color-brand: rgba(43, 127, 255, 1);
  --color-primary-light: white;
  --color-primary-dark: #011c44;
}

/*Base*/
* {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-dark);
  font-family: 'Play', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.header-menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1560px;
  margin: 0 auto;
  padding: 0 16px;
}

/*Button*/
.button {
  padding: 16px 32px;
  color: var(--color-primary-light);
  font-weight: 600;
  background-color: var(--color-brand);
  border: 2px solid var(--color-brand);
  border-radius: 32px;
  cursor: pointer;
}

.button:hover {
  color: var(--color-primary-dark);
  background-color: transparent;
}

/*Link*/
.link1 {
  color: rgba(43, 127, 255, 1);
  line-height: 1.2;
  text-decoration: none;
}

.link:hover {
  color: rgba(1, 28, 68, 1);
  text-decoration: underline;
}

/* Header */
.header {
  background-color: lightgrey;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header-menu {
  display: flex;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;
}

.header-item {
  margin-right: 56px;
}

.header-item:last-child {
  margin-right: 0;
}

* {
  box-sizing: border-box;
}

/*Hero section*/
.hero-section {
  padding: 270px 0;
  background-image: url('../Geniuce-test/images/hero-section\ background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1152px 687px;
  background-size: cover;
}

.hero-title {
  margin-bottom: 0;
  color: rgba(43, 127, 255, 1);
  text-align: left;
  text-transform: uppercase;
  font-size: 140px;
  font-weight: 700;
  line-height: 0.8;
}

.hero-title .accent {
  color: rgba(43, 127, 255, 1);
  padding-top: 269, 81;
}

.section-title {
  color: rgba(43, 127, 255, 1);
  font-size: 64px;
  font-weight: 700;
  line-height: 1.3;
}

.section-title.centered {
  text-align: center;
}

.section-title span {
  color: black;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.3;
}

/*About  section*/
.about-section {
  padding-top: 39.66px;
}
.about-container {
  display: flex;
  gap: 28px;
}

.about-title {
  margin-bottom: 40px;
  font-size: 64px;
  font-weight: 700;
}

.about-content {
  max-width: 1240px;
}

/*Advantages section*/
.advantages-list {
  display: flex;
  gap: 56px;
}

.advantages-item {
  flex-basis: calc(100%-112 / 3);
}
.advantages-card {
  image:width="48" 
  height="48" 
  fill="white" 
  transform="translate(0 0.5)"
  display: flex;
  height: 181px;
  padding: 24px 32px;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgrey; /* remove */
  border-radius: 16px;
}

.advantages-title {
  margin-bottom: 40px;
  font-size: 64px;
  font-weight: 700;
  text-align: center;
}

.advantage-text .primary {
  color: (--color-primary-dark);
  text-transform: uppercase;
  font-weight: 600;
}

/*Service section*/
.service-container {
  display:flex;
  align-items: center;
  gap: 32px;
}


.services-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.services-item {
  flex-basis: calc(100%-32 / 3);
}

.service-card {
  width: 344px;
  height: 456px;
  padding: 24px;
  background-image: linear-gradient(180deg, 
  rgba(1, 28, 68, 0.00) 47.40%,
  rgba(1, 28, 68, 0.73) 82.66%,
  #011C44 99.06%);
   var(--color-primary-dark) 100%
   border: 1px solid lightgrey; /* remove */
  border-radius: 16px;
}
 
 
 

.services-title {
  margin-bottom: 48px;
}

.service-title {
  font-size: 64px;
  font-weight: 700;
  justify-content: center;
  text-align: center;
}

.service-text {
  font-size: 22px;
  font-weight: 400;
}

/*Carousel*/
.carousel-buttom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--color-primary-dark);
  cursor:pointer;
}

/*Contact section*/
.contact-title {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 48px;
  text-align: center;
}

.carousel-arrow {
  fill: var(--color-primary-dark);
}

.carousel-buttom:hover {
  background-color:var(--color-primary-dark) ;
}

 .carousel-buttom:hover .carousel-arrow {
  fill: var(--color-primary-light);
 }
 
/* Contact section*/
.contact-title {
  margin-bottom: 16px;
}

/*Footer*/
.address-link {
  color: var(--color-primary-light)
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  }
 
 .address-link:hover {
  color: var(--color-primary-light);
 }

 .carousel-buttom:hover .carousel-arrow {
  fill: var(--color-primary-light);
 }
 
 .adress-icon {
  fill: var(--color-primary-light)

 }


 .address-copyright {
  font-size: 14px;
 }




.footer {
background-color:#011C44;
background-image: url(./images/background\ \(2\).png);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}